/ifExample.class
/elseIfExample.class
/ifDiceExample.class
/switchDiceExample.class
/switchCharExample.class
/whileKeyControl.class
/doWhileExample.class
/breakOutterExample.class
/exercise3.class
/exercise4.class
/exercise5.class
/exercise6.class
/exercise7.class
