/stringEqualsExample.class
/arrayCreateByValueList1.class
/Snippet.class
/arrayCreateByValueList2.class
/howToPrintArray.class
/mainStringArrayArgument.class
/arrayInArray.class
/arrayCopyByFor.class
/arrayCopyByMethod.class
/advancedFor.class
/Week.class
/enumWeekExample.class
/enumMethodExample.class
/exercise7.class
/exercise8.class
/exercise9.class
